<h1 mat-dialog-title>Connexion</h1>
<form [formGroup]="loginForm" (ngSubmit)="onSubmit()">
  <div mat-dialog-content>
    <mat-form-field appearance="outline">
      <mat-label>Enter your email</mat-label>
      <input matInput placeholder="pat@example.com" id="email" formControlName="email" required>
      <button mat-icon-button matSuffix>
        <mat-icon matSuffix>mail_outline</mat-icon>
      </button>
    </mat-form-field>
    <br/>
    <mat-form-field appearance="outline">
      <mat-label>Enter your password</mat-label>
      <input matInput [type]="hide ? 'password' : 'text'" id="password" formControlName="password" required>
      <button mat-icon-button matSuffix (click)="hide = !hide"
              [attr.aria-label]="'Hide password'" [attr.aria-pressed]="hide">
        <mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
      </button>
    </mat-form-field>
  </div>
  <p>Need to <a routerLink="/register" (click)="dialog.close()">create an account</a>? it takes 1 minute</p>
  <div mat-dialog-actions class="justify-content-between">
    <button mat-raised-button color="primary" type="submit">
      Connexion
      <app-spinner-small *ngIf="loading"></app-spinner-small>
    </button>
  </div>
</form>
