<div class="container justify-content-center my-5">
  <mat-card>
    <form [formGroup]="userForm" (ngSubmit)="onSubmit()">
      <mat-card-header>
        <mat-card-title>Sign up</mat-card-title>
      </mat-card-header>

      <div *ngIf="error" class="text-danger">
        {{error}}
      </div>

      <mat-card-content>
        <mat-form-field appearance="outline" class="my-1">
          <mat-label>Name</mat-label>
          <input matInput placeholder="example" id="displayName" formControlName="name" required>
          <button mat-icon-button matSuffix>
            <mat-icon>face</mat-icon>
          </button>
        </mat-form-field>
        <br/>
        <mat-form-field appearance="outline" class="my-1">
          <mat-label>Email</mat-label>
          <input matInput placeholder="example@example.com" id="email" formControlName="email" required>
          <button mat-icon-button matSuffix>
            <mat-icon>mail_outline</mat-icon>
          </button>
        </mat-form-field>
        <br/>
        <mat-form-field appearance="outline" class="my-1">
          <mat-label>Password</mat-label>
          <input matInput [type]="hide ? 'password' : 'text'" id="password" formControlName="password" required>
          <button mat-icon-button matSuffix (click)="hide = !hide"
                  [attr.aria-label]="'Hide password'" [attr.aria-pressed]="hide">
            <mat-icon class="visibility">{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
          </button>
        </mat-form-field>
        <br/>
        <mat-checkbox color="primary" [checked]="check">
          I have read and agreed the <a href="https://www.gdprprivacynotice.com/" target="_blank">policies</a>
        </mat-checkbox>
      </mat-card-content>

      <mat-card-actions>
        <button mat-raised-button color="primary" type="submit" [disabled]="userForm.invalid  ">Sign up</button>
      </mat-card-actions>
    </form>
  </mat-card>
</div>
