<div class="container min-h">
    <h1>Dice Town Online Rules</h1>

    <h2>Objective</h2>
    <p>Get the most points before the nugget or property stocktpile is empty</p>

    <h2>Points</h2>
    <ul>
        <li>Dollars => each dollars give <span class="light-bg">0.5 points</span></li>
        <li>Nuggets => each nugget gives <span class="light-bg">1 point</span></li>
        <li>Sheriff => at the end of the game the player that is sheriff is granted <span class="light-bg">5 points</span></li>
        <li>Properties => each property gives you <span class="light-bg">points as indicated</span> on the card</li>
        <li>General Sorms => can give you <span class="light-bg">points as indicated</span> on the card</li>
    </ul>
    <h2>Game cycle</h2>
    <div class="pl-3">
        <p>Until the game ends a cycle of dice throwing and results sequence continues</p>
        <h3>Dice throwing</h3>
        <div class="pl-3">
            <p>
                Each player throws his dice and can choose the dices he wants to keep for the next round to build up his dice sequence.
                This cycle continues until at least on player has rolled and chosen his 5 dices, the next round all the remaining players will have all their remaining dices selected.
                The game then goes to the <a>results</a> phase
            </p>
        </div>
        
        <h3 id="results">Results</h3>
        <div class="pl-3">
            <p>

                The player
            </p>
        </div>
        
        <h3 id="results">Draw</h3>
        <div class="pl-3">
            <p>
                If two or more players are in a draw to win one of the categories, the sherif will decide who wins the category                
            </p>
        </div>
    </div>
</div>

