<span class="dice" [ngClass]="isSelected ? 'selected' : 'unSelected'">
    <span *ngIf="number === 9">
        <img src="../../../../../assets/icons/nugget.png" height="40px" alt="" class="blueify">
    </span>
    
    <span *ngIf="number === 10" style="color: red;">
        <img src="../../../../../assets/icons/money.png" style="margin-left: 5px;margin-bottom: 5px;" height="40px" alt="" class="blueify">
    </span> 
    
    <span *ngIf="number === 11" style="color: blue;">
        <img src="../../../../../assets/icons/store.png" height="40px" alt="" class="blueify">
    </span>
    
    <span *ngIf="number === 12" style="color: green;">
        <img src="../../../../../assets/icons/saloon.png" height="40px" alt="" class="greenify">
    </span>
    
    <span *ngIf="number === 13" style="color: red;">
        <img src="../../../../../assets/icons/sherif-badge.png" height="40px" alt="">
    </span>
    
    <span *ngIf="number === 14" >
        <img src="../../../../../assets/icons/as.png" height="40px" alt="">
    </span>
</span>

    
