.start-btn {
    background-color: green;
    color: blanchedalmond;
    width: 100%;
}

.ready-btn {
    width: 100%;
    background-color: green;
    color: blanchedalmond;
    animation: glowing 1000ms infinite;
}

.cancel-btn {
    background-color: red;
    color: blanchedalmond;
}

.btn-container {
    display: flex;
    margin: 0px;
    button {
        padding: 0;
        margin: 0;
        flex-grow: 1;
        flex: 1;
    }
}

@keyframes glowing {
    0% {
      background-color: #2ba805;
      box-shadow: 0 0 3px #2ba805;
    }
    50% {
      background-color: #40b91b;
      box-shadow: 0 0 20px #40b91b;
    }
    100% {
      background-color: #2ba805;
      box-shadow: 0 0 3px #2ba805;
    }
  }