<div class="lobby-container" *ngIf="lobby; else noLobby">

    <div class="sidebar" id="sidebar">
        <app-lobby-info [lobby]="lobby" [isLobbyConnected]="isLobbyConnected" (lobbyRefreshEvent)="loadLobby()" (chatResetEvent)="chatReset()" (updateLobbyEvent)="updateLobbyEvent($event)"></app-lobby-info>
        <app-game-events [lobby]="lobby"></app-game-events>
        <app-chat [lobby]="lobby" [refreshChatEventSubject]="refreshChatEventSubject.asObservable()"></app-chat>
    </div>

    <div class="game animate-bg" id="game">
        
        <app-lobby-waiting *ngIf="!lobby.isGameStarted; else gameStarted" [lobby]="lobby" class="waiting"></app-lobby-waiting>
        <ng-template #gameStarted>
            <app-game [lobby]="lobby" (updateGameEvent)="updateGameEvent($event)"></app-game>
        </ng-template>
    </div>
</div>
<ng-template #noLobby class="no-lobby">
    <mat-spinner></mat-spinner>
</ng-template>
  