<div class="waiting-msg">
    <div *ngIf="lobby.game">Game paused!</div>
    <ng-container *ngIf="getCountReady() < lobby.users.length; else waitingStart">
        Waiting for everybody to ready up... 
        <img src="../../../../assets/icons/rolling_eyes.png" height="40" alt="oh nooo...">
    </ng-container>
    <ng-template #waitingStart>
        Waiting for {{getOwner().name}} to {{ lobby.game ? 'resume' : 'start' }} the game
    </ng-template>
    <mat-chip-list class="mat-chip-list-stacked my-3" aria-label="User readiness">
        <mat-chip *ngFor="let user of lobby.users" class="ready-chip">
            {{user.name}}&nbsp;is&nbsp;
            <span [ngClass]="(lobbyService.computeIsUserReady(lobby, user)) ? 'ready' : 'unready'">
                {{lobbyService.computeIsUserReady(lobby, user) ? 'Ready' : 'Not Ready...'}}
            </span>
            
        </mat-chip>
    </mat-chip-list>
    <mat-spinner></mat-spinner>
</div>