{{lobby.game.status}}
<div class="v-flex game-container">
    <div>
        <div class="board">
            <div class="col">

                <mat-card style="background-image: url(../../../../assets/images/mine.jpg);">
                
                    <img src="../../../../assets/icons/nugget.png" height="50px" alt="nuggets" class="light-bg mb-2">
                    
                    <mat-card-content class="light-bg m-0 p-2 text-center">
                        <p class="font-size-header">
                            {{lobby.game.nuggets}}
                        </p>
                        (remaining)
                    </mat-card-content>
                </mat-card>

                <mat-card class="winner">
                    <app-winner [lobby]="lobby" [dice]="resultProperties[0]" (chooseWinner)="chooseWinner($event)" [updateGameResults]="updateGameResults.asObservable()"></app-winner>
                </mat-card>
            </div>
            
            <div class="col">
                
                <mat-card style="background-image: url(../../../../assets/images/bank.jpg); background-position:center;">
                
                    <img src="../../../../assets/icons/money.png" height="40px" alt="dollars" class="light-bg mb-3">
                    
                    <mat-card-content>
                        <div class="light-bg m-0 p-2 text-center ">
                            <p class="m-2">
                                At stake: <strong>{{lobby.game.dollar}}</strong>$
                            </p>
                            <p class="m-2">
                                Build-up: <strong>{{lobby.game.income}}</strong>$
                            </p>
                        </div>
                    </mat-card-content>
                </mat-card>

                <mat-card class="winner">
                    <app-winner [lobby]="lobby" [dice]="resultProperties[1]" (chooseWinner)="chooseWinner($event)" [updateGameResults]="updateGameResults.asObservable()"></app-winner>
                </mat-card>
            </div>
            
            <div class="col">
                <mat-card style="background-image: url(../../../../assets/images/carrefour.png); background-position:center;background-size:cover ;">
                    <img src="../../../../assets/icons/store.png" height="50px" alt="dollars" class="light-bg mb-3 p-1">
                    <mat-card-content>
                        <div class="light-bg m-0 p-2 text-center ">
                            Cards...
                        </div>
                    </mat-card-content>
                </mat-card>

                <mat-card class="winner">
                    <app-winner [lobby]="lobby" [dice]="resultProperties[2]" (chooseWinner)="chooseWinner($event)" [updateGameResults]="updateGameResults.asObservable()"></app-winner>
                </mat-card>
            </div>

            <div class="col">
                <mat-card style="background-image: url(../../../../assets/images/saloon.jpg); background-position:center; background-size:cover ;">
                    <img src="../../../../assets/icons/saloon.png" height="50px" alt="dollars" class="light-bg mb-3 p-1">
    
                    <mat-card-content>
                    </mat-card-content>
                </mat-card>

                <mat-card class="winner">
                    <app-winner [lobby]="lobby" [dice]="resultProperties[3]" (chooseWinner)="chooseWinner($event)" [updateGameResults]="updateGameResults.asObservable()"></app-winner>
                </mat-card>
            </div>
            
            <div class="col">
                <mat-card style="background-image: url(../../../../assets/images/wood-bg.jpg); background-position:center;">
                    <div class="light-bg mb-3 p-1">
                        <img src="../../../../assets/icons/sherif-badge.png" height="40px" alt="sherif" class="">
                    </div>
                    
                    <mat-card-content class="light-bg m-0 p-2 text-center">
                        <strong>{{ lobby.game.sherifUserid ? lobbyService.getSherif(lobby).name : "No one currently"}}</strong> is the sherif
                    </mat-card-content>
                </mat-card>

                <mat-card class="winner">
                    <app-winner [lobby]="lobby" [dice]="resultProperties[4]" (chooseWinner)="chooseWinner($event)" [updateGameResults]="updateGameResults.asObservable()"></app-winner>
                </mat-card>
            </div>
            

            <div class="col">
                <mat-card>
                    <p>Property</p>
                    <mat-card-content>
                        <div class="property-container">

                            <div class="property-remaining">
                                {{lobby.game.property.length - 3}} left
                            </div>
                            <!-- <div>
                                remaining cards: {{lobby.game.property.length - 3}}
                            </div> -->
                            <div class="property-list">
                                <div *ngFor="let property of getFirst3properties()" class="property">
                                    {{property.value}}pts
                                </div>
                            </div>
                        </div>
                    </mat-card-content>
                </mat-card>

                <mat-card class="winner">
                    <app-winner [lobby]="lobby" [dice]="resultProperties[5]" (chooseWinner)="chooseWinner($event)" [updateGameResults]="updateGameResults.asObservable()"></app-winner>
                </mat-card>
                
            </div>
            
            
            <div class="col">
                <mat-card>
                    <img src="../../../../assets/icons/store.png" height="50px" alt="dollars" class="light-bg mb-3 p-1">
                    <mat-card-content>
                        <div class="light-bg m-0 p-2 text-center ">
                            Bad Luck...
                        </div>
                    </mat-card-content>
                </mat-card>

                <mat-card class="winner">
                    <app-winner [lobby]="lobby" [dice]="resultProperties[6]" (chooseWinner)="chooseWinner($event)" [updateGameResults]="updateGameResults.asObservable()"></app-winner>
                </mat-card>

            </div>
        </div>
        
    </div>


    <!-- <div *ngIf="lobby && lobby.game && lobby.game.status !== gameStatus.DICE_ROLLING && lobby.game.results && lobby.game.results.dice9">
        <div class="board">
            <mat-card *ngFor="let dice of resultProperties">
                <app-winner [lobby]="lobby" [dice]="dice" (chooseWinner)="chooseWinner($event)" [updateGameResults]="updateGameResults.asObservable()"></app-winner>
            </mat-card>
            <mat-card>
                Bad luck...
            </mat-card>
        </div>
    </div> -->



    <div class="player-panel">
        <div *ngFor="let player of getOtherPlayers()" class="player-item mb-1">
            <strong style="flex: content; margin-right: 5px;">{{getUserOfPlayer(player).name}}</strong> 
            <div style="flex: content; margin-right: 5px;" class="h-flex">
                &nbsp;
                <strong>{{player.dollar}}</strong>$
                &nbsp;
                <span class="cont2">
                    <strong>{{player.nuggets}}</strong>
                    <img src="../../../../assets/icons/nugget-narrow.png" height="25px" alt="nuggets" class="m-0">
                </span>
                &nbsp;
            </div>
            <span style="flex: content;" *ngIf="isWaitingForPlayer(player)">
                is {{getStatusOfPlayer(player).toLowerCase()}}...
            </span>
            <div class="player-item" style="flex: auto;" *ngIf="nonHiddenDices(player.dices).length > 0">
                <app-dice style="justify-self: flex-end;" *ngFor="let dice of nonHiddenDices(player.dices); let i = index" [isSelected]="false" [number]="dice.value"></app-dice>
            </div>
        </div>

    </div>



    <div class="your-game">
        <div>
            <div *ngIf="lobbyService.getPlayer(lobby) as player">
                <div class="hand">
                    <mat-card>
                        <mat-card-content class="light-bg p-2 text-center strong col-6 offset-3">
                            <div class="font-size-header cont2">
                                <span>{{player.nuggets}}</span><img src="../../../../assets/icons/nugget-narrow.png" height="35px" alt="nuggets" class="m-0">
                            </div>
                            <div class="font-size-header cont">
                                <span class="cont2">
                                    <span>{{player.dollar}}</span>
                                    $
                                </span>
                            </div>
                        </mat-card-content>
                    </mat-card>
                    
                    <mat-card>
                        <div class="light-bg mb-3 p-1">
                            <img src="../../../../../assets/icons/store.png" height="40px" alt="" class="blueify">
                            <span class="center">
                                cards
                            </span>

                        </div>
                        
                        <mat-card-content>

                            <span *ngIf="!player.generalStorms.length">You don't have any cards!</span>

                            <div *ngFor="let card of player.generalStorms" class="gscard">
                                <span>
                                    {{card.text}}
                                </span>
                                <div *ngIf="" [matTooltip]="card.category != lobby.game.status ? 'You can only play this card during the ' + card.category + ' game phase' : null">
                                    <button mat-raised-button color="primary" [disabled]="card.category != lobby.game.status" style="padding: 0 !important">
                                        use
                                    </button>
                                </div>
                            </div>
                        </mat-card-content>
                    </mat-card>

                    <mat-card *ngIf="player.property.length">
                        <p>Properties</p>
                        <mat-card-content>
                            <span *ngFor="let property of player.property" class="property">
                                {{property.value}}
                            </span>
                        </mat-card-content>
                    </mat-card>
                    
                    <mat-card *ngIf="player.badLuck.length">
                        <p>Bad luck :'(</p>
                        <mat-card-content>
                            <span *ngFor="let property of player.badLuck" class="property">
                                {{property.text}}
                            </span>
                        </mat-card-content>
                    </mat-card>

                    <mat-card style="flex: content;">
                        <div class="mb-1">
                            <span class="dice-headers">
                                <div>
                                    <span class="h2 pr-0">
                                        Dices
                                    </span>
                                    <span *ngIf="lobby.game.waitingFor.length">
                                        &nbsp;-&nbsp;Waiting for: <strong>{{getNamesWaitingFor()}}</strong> 
                                        <span class="spinner-border" style="border-width: 2px;"></span>
                                    </span>
                                </div>
                                <div *ngIf="player.dices.length !== 5">
                                    <button mat-raised-button color="primary" class="mr-2" [disabled]="cantThroughDice()" (click)="rollDices()"><mat-icon>casino</mat-icon> Roll</button>
                                    <button mat-raised-button color="accent" [disabled]="cantValidateDice()" (click)="validateDiceChoice()"><mat-icon>check</mat-icon> Validate</button>
                                </div>
                            </span>
                        </div>
                        <mat-card-content class="dice-headers">

                            
                            
                            <div *ngIf="rollingDices">
                                <mat-spinner></mat-spinner>
                            </div>


                            <div *ngIf="newDices.length && !rollingDices && player.dices.length < 5">
                                <mat-divider></mat-divider>
                                <h4>Rolled:  
                                    <ng-container *ngIf="isCostError; else validCost">
                                        <span class="alert">Not enough money: {{player.dollar}}$ - {{costs}}$ = {{player.dollar-costs}}$</span>
                                    </ng-container>
                                    <ng-template #validCost>
                                        {{costs > 0 ? '-'+costs+'$' : 'FREE'}}
                                    </ng-template>
                                </h4>
                                <div class="dices-container" >
                                    <span [ngClass]="!selectedDice.length ? 'selected' : 'unSelected'">
                                        <button mat-stroked-button (click)="selectDice(-1)" class="square-btn">None</button>
                                    </span>
                                    <app-dice *ngFor="let dice of newDices; let i = index" [isSelected]="isDiceSelected(i)" [number]="dice.value" (click)="selectDice(i)"></app-dice>
                                </div>
                            </div>

                            
                            <div *ngIf="player.dices && player.dices.length">
                                <mat-divider class="mb-5"></mat-divider>
                                <h4 *ngIf="lobby.game.status === 'DICE_ROLLING'">Saved</h4>
                                <div class="dices-container">
                                    <app-dice *ngFor="let dice of player.dices; let i = index" [isSelected]="false" [number]="dice.value"></app-dice>
                                </div>
                            </div>


                        </mat-card-content>
                    </mat-card>
                </div>
            </div>
        </div>
    </div>
</div>
